<div ng-controller="userLoginController as userlogin" style="text-align: center">

    <form novalidate class="simple-form" ng-if="userlogin.showLogInForm">
        <div class="container">
            <h1>User Log In</h1>
            <p>Please enter your email and password to Login.</p>
            <hr>

            <label>E-mail: <input type="email" ng-model="userlogin.user.email" /></label><br />
            <label>Password: <input type="password" ng-model="userlogin.user.password" /></label><br />

            <input type="submit" ng-click="userlogin.logIn()" value="Log In" />
        </div>
    </form>


    <div class="userdashboard" ng-if="userlogin.showUserDashBoard">
        <h1>User Dashboard</h1><hr>
        <h2>Welcome {{userlogin.user.firstname}}</h2>
        
        <div
        class=""
        ng-repeat="book in userlogin.books track by $index" 
        style="border:1px solid #555; background: #dfdfdf;">

            <p>
                <span>{{$index + 1}}. {{book.name}}</span><br>
                <span>Author: {{book.author}} </span><br>
                <span>Publish Date: {{book.publishDate}} </span><br>
                <span>Quantity Available: {{book.count}} </span><br>
                <button 
                    type="button"
                    ng-click="userlogin.checkout($index)">
                    Checkout
                </button>
            </p>

         </div>
    </div>
</div>