<div
  class=""
  ng-controller="signUpController as signup"
  style="text-align:center;">

  <form novalidate class="simple-form">
    <div class="container">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>

      <label>First Name: <input type="text" ng-model="signup.user.firstname" /></label><br />
      <label>Last Name: <input type="text" ng-model="signup.user.lastname" /></label><br />
      <label>Address: <input type="text" ng-model="signup.user.address" /></label><br />
      <label>Phone No: <input type="number" ng-model="signup.user.phone" /></label><br />
      <label>E-mail: <input type="email" ng-model="signup.user.email" /></label><br />
      <label>Password: <input type="password" ng-model="signup.user.password" /></label><br />

      <input type="submit" ng-click="signup.signupUser()" value="Sign Up" />
    </div>
  </form>
</div>
